.gallery_section{
    width: 100%;
    height: fit-content;
    padding: 70px 30px;
}
.gallery-box{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease 0s;
}
.gallery-box:hover{ box-shadow: 0 0 10px rgba(0,0,0,0.1); }
.gallery-box:before{
    content: "";
    background-image: linear-gradient(to top,rgba(14,174,87,1), rgba(12,116,117,1));
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 100%;
    left: 0;
    transition: all 0.5s ease 0s;
}
.gallery-box:hover:before{ bottom: 0; }
.gallery-box img{
    width: 100%;
    height: auto;
    transition: all 0.5s ease 0s;
}
.gallery-box:hover img{ opacity: 0.3; }
.gallery-box .box-content{
    color: #fff;
    background-image: linear-gradient(to right,rgba(14,174,87,1), rgba(12,116,117,1));
    width: 100%;
    padding: 13px 20px 12px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    transition: all 0.5s ease 0s;
}  
.gallery-box:hover .box-content{
    color: rgba(14,174,87,1);
    background: #fff;
}
.gallery-box .title{
    font-size: 25px;
    font-weight: 500;
    text-transform: capitalize;
    margin: 0;
}
.gallery-box .post{
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: lowercase;
}
.gallery-box .icon{
    padding: 0;
    margin: 0;
    list-style: none;
    opacity: 0;
    transform: translateX(-50%) translateY(-35%);
    position: absolute;
    top: 35%;
    left: 50%;
    z-index: 1;
    transition: all 0.3s ease 0s;
}
.gallery-box:hover .icon{ opacity: 1; }
.gallery-box .icon li{
    margin: 0 3px;
    display: inline-block;
}
.gallery-box .icon li a{
    color: rgba(14,174,87,1);
    background: #fff;
    font-size: 18px;
    line-height: 35px;
    height: 35px;
    width: 35px;
    display: block;
    transition: all .5s ease 0s;
}
.gallery-box .icon li a:hover{
    color: #fff;
    background: rgba(14,174,87,1);
    border-radius: 10px 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
@media only screen and (max-width:990px){
    .gallery-box{ margin: 0 0 30px; }
}

